/********************************************************************************
// CONTAINER //
*********************************************************************************/

.container {
  padding: 0 2rem;
  min-height: 100vh;
  background: url(/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: flex-start;

  @media screen and (max-width: 1233px) {
    background: url(/assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 50px;
  }

  @media screen and (max-width: 655px) {
    background: url(/assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
  }
}

/********************************************************************************
// MAIN GRID //
*********************************************************************************/

.mainGrid {
  opacity: 1;
  transition: all 1 ease-in-out;
  width: 1110px;
  margin: 0 auto;
  display: grid;
  row-gap: 70px;
  column-gap: 156px;
  padding: 220px 2rem 50px;
  grid-template-areas:
    "subTitle subTitle"
    "image content";

  @media screen and (max-width: 1233px) {
    width: 100%;
    grid-template-areas:
      "subTitle"
      "image"
      "content";
      padding-top: 175px;
    .imageContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 655px) {
      justify-content: center;
      text-align: center;
      row-gap: 30px;
      padding-top: 135px;
    .planetImg {
        height: 200px;
        width: 200px;
    }
}
}

.hideMainGrid {
  opacity: 0.5;
}

/********************************************************************************
// CONTENT GRID //
*********************************************************************************/

.content {
  display: grid;
  grid-template-areas:
    "tabs tabs"
    "name name"
    "desc desc"
    "div div"
    "distance time";

  .tabNav {
    grid-area: tabs;

    ul li button {
      color: #ffffff;
      background-color: transparent;
      width: fit-content;
      border: none;
      padding: 0 0 14px 0;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    ul li button:hover {
      border-bottom: 2px solid #ffffff7a;
    }

    .activeTab {
      border-bottom: 2px solid #ffffff;
    }
  }

  .name {
    grid-area: name;
    margin: 30px 0;
  }

  .description {
    grid-area: desc;
    margin-bottom: 55px;
  }

  .divider {
    grid-area: div;
    height: 1px;
    background-color: #97979763;
    margin-bottom: 20px;
  }

  .distance {
    grid-area: distance;
  }

  h5 {
    line-height: 35px;
    letter-spacing: 1.3px;
    span {
      font-size: 14px;
      font-family: "Barlow Condensed";
      letter-spacing: 4.75px;
      text-transform: uppercase;
      font-weight: lighter;
      margin: 0;
    }
  }

  @media screen and (max-width: 1233px) {
    justify-items: center;
    text-align: center;
    margin-bottom: 62px;
    max-width: 573px;
    margin: 0 auto 62px auto;

    .divider {
      width: 100%;
    }

    .name {
      font-size: 80px;
    }
  }

  @media screen and (max-width: 655px) {
    max-width: 327px;
    grid-template-areas:
    "tabs"
    "name"
    "desc"
    "div"
    "distance"
    "time";
    .name {
      font-size: 56px;
    }
    .distance {
        margin-bottom: 25px;
        font-size: 28px;
    }
    .time {
        font-size: 28px;
    }
  }
}

/********************************************************************************
// SUB TITLE //
*********************************************************************************/

.subTitle {
  grid-area: subTitle;
  span {
    font-weight: 600;
    color: #979797;
  }

  @media screen and (max-width: 655px) {
      
  }
}

/********************************************************************************
// IMAGE //
*********************************************************************************/

.planetImg {
  grid-area: image;
}

/********************************************************************************
// CONTENT //
*********************************************************************************/

.content {
  grid-area: content;
}

/********************************************************************************
// TAB NAVIGATION //
*********************************************************************************/

.tabNav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 33px;
}
