/********************************************************************************
// CONTAINER //
*********************************************************************************/

.container {
  padding: 0 2rem;
  min-height: 100vh;
  background: url(/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;

  @media screen and (max-width: 1233px) {
    background: url(/assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 655px) {
    background: url(/assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
  }
}

/********************************************************************************
// MAIN GRID //
*********************************************************************************/

.mainGrid {
  padding: 70px 2rem 0;
  display: grid;
  grid-template-areas: "text button";
  grid-auto-rows: minmax(100px, auto);
  width: 1110px;
  margin: 0 auto;
  // margin-top: 346px;

  @media screen and (max-width: 1194px) {
    width: 100%;
  }

  @media screen and (max-width: 1233px) {
    grid-template-areas:
      "text"
      "button";
      gap: 156px;
      padding: 0 0rem 7% 0rem;
      margin-top: 206px;
  }

  @media screen and (max-width: 655px) {
      gap: 81px;
      padding: 0 0rem 7% 0rem;
      margin-top: 126px;
  }
}

/********************************************************************************
// CALL TO ACTION SECTION //
*********************************************************************************/

.callToActionSection {
  h1 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    max-width: 480px;
  }

  @media screen and (max-width: 1233px) {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/********************************************************************************
// BUTTON SECTION //
*********************************************************************************/

.buttonSection {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-area: button;

  button {
    height: 250px;
    width: 250px;
    border-radius: 1000px;
    border: none;
    font-size: 32px;
    font-family: "Bellefair";
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: 400;
    position: relative;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    @media screen and (max-width: 655px) {
      height: 150px;
      width: 150px;
      font-size: 20px;
    }
  }
  
  button:hover {
    box-shadow: 0px 0px 0px 60px #ffffff3a;
  }

  @media screen and (max-width: 1233px) {
    justify-content: center;
  }
}
